body {margin:0; padding:0; background-color: #f7ea49;}
p {position: absolute;
  margin-left: 100px;
  margin-top: 160px;
   letter-spacing: 20px;
   line-height: 165px;
   color: #333333;
   font-weight: Regular;
   font-size: 85px;
   font-family: arial."nanum".sans;}
   #logo {position: absolute;}
div[class="m1"] {
  width:70px;
  height:1080px;
  background:#fdfad1;
  position:fixed;
  top:0;
  right:231px;
  z-index:1;
  transition:all .35;}

div[class="m2"] {
  width:70px;
  height:1080px;
  background:#fdfad1;
  position:fixed;
  top:0;
  right:154px;
  z-index:1;
  transition:all .35;
}
div[class="m3"] {
  width:70px;
  height:1080px;
  background:#fdfad1;
  position:fixed;
  top:0;
  right:77px;
  z-index:1;
  transition:all .35;
}
div[class="m4"] {
  width:70px;
  height:1080px;
  background:#fdfad1;
  position:fixed;
  top:0;
  right:0px;
  z-index:1;
  transition:all .35;
}
div[class="sd1"]{
  width:1500px;
  height:1080px;
  background:#fdfad1;
  position:fixed;
  top:0;
  right:-1500px;
  transition:all 35;
}
div[class="sd2"]{
  width:1507px;
  height:1080px;
  background:#fdfad1;
  position:fixed;
  top:0;
  right:-1507px;
  transition:all .35
}
div[class="sd3"]{
  width:1584px;
  height:1080px;
  background:#fdfad1;
  position:fixed;
  top:0;
  right:-1584px;
  transition:all .35
}
div[class="sd4"]{
  width:1661px;
  height:1080px;
  background:#fdfad1;
  position:fixed;
  top:0;
  right:-1661px;
  transition:all .35
}

#allmenu {display: flex; float: right;}
input[id="menu1"] {display: none;}
input[id="menu1"] + label {
    position:fixed;
display: block;
cursor: pointer;
margin: 10px;
height: 50px;
width: 50px;
background: url("rotn.png");
background-size:cover;
transition:all .35s;
}
input[id="menu1"]:checked + label {background-image: url("ghktkfvy.png"); z-index: 4;}
input[id="menu1"]:checked + label + div[class="sd1"] {right: 231px;}

input[id="menu2"] {display: none;}
input[id="menu2"] + label {
display: inline-block;
cursor: pointer;
margin-top: 5px;
margin-left: 10px;
height: 50px;
width: 50px;
background: url("tlrks.png");
background-size:cover;
transition:all .35s;
}
input[id="menu2"]:checked + label { background-image: url("ghktkfvy.png"); z-index: 3;}
input[id="menu2"]:checked + label + div[class="sd2"] {right: 224px;}

input[id="menu3"] {display: none;}
input[id="menu3"] + label {
display: inline-block;
cursor: pointer;
margin-top: 5px;
margin-left: 10px;
height: 50px;
width: 50px;
background: url("sksdleh.png");
background-size:cover;
transition:all .35s;
}
input[id="menu3"]:checked + label { background-image: url("ghktkfvy.png"); z-index: 2;}
input[id="menu3"]:checked + label + div[class="sd3"] {right: 147px;}
input[id="menu3"]:checked:root {display:none;}

input[id="menu4"] {display: none;}
input[id="menu4"] + label {
display: inline-block;
cursor: pointer;
margin-top: 5px;
margin-left: 10px;
height: 50px;
width: 50px;
background: url("qldyd.png");
background-size:cover;
transition:all .35s;
}
input[id="menu4"]:checked + label { background-image: url("ghktkfvy.png"); z-index: 1;}
input[id="menu4"]:checked + label + div[class="sd4"] {right: 70px;}

#hell {position:fixed; left: 625px}
