body {background-color: #f7ea49;}
p {position: absolute;
  margin-left: 50px;
  margin-top: 150px;
   letter-spacing: 20px;
   line-height: 175px;
   color: #333333;
   font-weight: Regular;
   font-size: 100px;
   font-family: arial."nanum".sans;}
#logo {position: absolute;}
#menu1 {margin-left: 7px;}
#menu2 {margin-left: 7px;}
#menu3 {margin-left: 7px;}
#menu4 {margin-left: 7px;}
